<!DOCTYPE html>
<html lang="zh-cn">
<include file="Public:header" />

<body>
    <include file="Public:top" />
    <br />
    <div class="container">
        <div class="">
            <ul class="bread">
                <h4>
					<li><a href="#" class="icon-home"> 首页</a> </li>					
					<li><a href="#">关于我</a></li>
					</h4>
            </ul>
        </div>
        <div class="line-big">
            <div class="xl12 xm8">
                <div class="line-small">
                    <div class="xs12">
                    	<br>
                        <table width="100%">
                            <tbody>
                                <tr class="firstRow">
                                    <td>
                                        <p>
                                            <strong><span style="font-size:35px;font-family:&#39;微软雅黑&#39;,sans-serif;color:#32AEFE">蒋立军</span></strong>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%">
                            <tbody>
                                <tr class="firstRow">
                                    <td>
                                        <p>
                                            <span style="font-family:&#39;微软雅黑&#39;,sans-serif">22</span><span style="font-family:&#39;微软雅黑&#39;,sans-serif">岁</span>
                                        </p>
                                        <p>
                                            <span style="font-family:&#39;微软雅黑&#39;,sans-serif">13366025389</span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%">
                            <tbody>
                                <tr class="firstRow">
                                    <td>
                                        <p>
                                            <span style="font-family:      &#39;微软雅黑&#39;,sans-serif">北京邮电大学</span>
                                        </p>
                                        <p>
                                            <span style="font-family:&#39;微软雅黑&#39;,sans-serif">1262147262@qq.com</span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            <br/>
                            <table width="100%">
                                <tbody>
                                    <tr class="firstRow">
                                        <td>
                                            <p>
                                                <span style="font-family:&#39;微软雅黑&#39;,sans-serif">2013.9-2017.6&nbsp;&nbsp; &nbsp;</span><strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">北京邮电大学—学士</span></strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">信息工程专业</span></strong>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%">
                                <tbody>
                                    <tr class="firstRow">
                                        <td>
                                            <p>
                                                <strong><span style="font-size:19px;font-family:&#39;微软雅黑&#39;,sans-serif;color:#32AEFE">教育背景</span></strong>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%">
                                <tbody>
                                    <tr class="firstRow">
                                        <td>
                                            <p>
                                                <span style="font-family:&#39;微软雅黑&#39;,sans-serif;color:#776A38">北邮这座“信息黄埔”让我掌握了通信、互联网、计算机等方面扎实的基础知识，激发出了我对互联网行业的激情与热爱。</span>
                                            </p>
                                            <p>
                                                <span style="font-family:&#39;微软雅黑&#39;,sans-serif;color:#776A38">主修课程：</span>
                                            </p>
                                            <p>
                                                <span style="font-family:&#39;微软雅黑&#39;,sans-serif;color:#776A38">C++</span><span style="font-family:&#39;微软雅黑&#39;,sans-serif;color:#776A38">、数据结构、数字信号处理、数据库技术与应用、微处理器与接口技术、通信原理、Java程序设计、信息处理与编码、计算机网络。</span>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                        <table width="100%">
                            <tbody>
                                <tr class="firstRow">
                                    <td>
                                        <p>
                                            <strong><span style="font-size:19px;font-family:&#39;微软雅黑&#39;,sans-serif;color:#32AEFE">项目经历</span></strong>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%">
                            <tbody>
                                <tr class="firstRow">
                                    <td>
                                        <p>
                                            <span style="font-family:&#39;微软雅黑&#39;,sans-serif">2015.3-2015.5&nbsp;&nbsp;&nbsp; </span><span style="font-family:&#39;微软雅黑&#39;,sans-serif">基于Arduino多功能座椅的设计与开发&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; 项目负责人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%">
                            <tbody>
                                <tr class="firstRow">
                                    <td>
                                        <p>
                                            <span style="font-family:&#39;微软雅黑&#39;,sans-serif">2015.9-2015.10&nbsp;&nbsp;&nbsp; </span><span style="font-family:&#39;微软雅黑&#39;,sans-serif">智能记事本APP—林&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 交互/设计/技术</span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%">
                            <tbody>
                                <tr class="firstRow">
                                    <td>
                                        <p>
                                            <strong><span style="font-size:19px;font-family:&#39;微软雅黑&#39;,sans-serif;color:#32AEFE">专业技能</span></strong>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%">
                            <tbody>
                                <tr class="firstRow">
                                    <td>
                                        <p>
                                            <span style="font-family:     &#39;微软雅黑&#39;,sans-serif;color:#776A38">了解/掌握的开发语言：C++, JAVA, Android, HTML, CSS, Ruby</span>
                                        </p>
                                        <p>
                                            <span style="font-family:     &#39;微软雅黑&#39;,sans-serif;color:#776A38">熟悉的软件：Adobe Photoshop/Axure/Corel &nbsp; &nbsp; Video Studio /Office/eclipse</span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%">
                            <tbody>
                                <tr class="firstRow">
                                    <td>
                                        <p>
                                            <span style="font-family:&#39;微软雅黑&#39;,sans-serif;color:#776A38">和队友两人从零基础开始边学边用，设计实现了一款可以督促用户实现梦想的既实用又有趣的APP。我主要完成此APP创新点及交互设计，获得不错的成绩并获得同学们对此APP的一致好评。</span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%">
                            <tbody>
                                <tr class="firstRow">
                                    <td>
                                        <p>
                                            <span style="font-family:&#39;微软雅黑&#39;,sans-serif">2015.4-2015.6&nbsp;&nbsp;&nbsp; </span><span style="font-family:&#39;微软雅黑&#39;,sans-serif">自动避障小车研究与开发&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 技术</span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%">
                            <tbody>
                                <tr class="firstRow">
                                    <td>
                                        <p>
                                            <span style="font-family:&#39;微软雅黑&#39;,sans-serif;color:#776A38">利用单片机编程实现一辆借助传感器可自动避障的玩具小车，并可以快速通过一个小型迷宫。参与解决方案的设计与实现，最终获得“校电子工艺实习竞赛”三等奖。</span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%">
                            <tbody>
                                <tr class="firstRow">
                                    <td>
                                        <p>
                                            <span style="font-family:&#39;微软雅黑&#39;,sans-serif">2015.11</span><span style="font-family:     &#39;微软雅黑&#39;,sans-serif">至今&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;乐享其约预约服务系统&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 产品/设计</span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%">
                            <tbody>
                                <tr class="firstRow">
                                    <td>
                                        <p>
                                            <span style="font-family:&#39;微软雅黑&#39;,sans-serif;color:#776A38">组队设计开发一款预约服务系统，现已升级到3.0版本并拥有较多用户。我主要完成需求分析、系统测试、提出改进设计并和开发人员探讨完成系统改进升级。</span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%">
                            <tbody>
                                <tr class="firstRow">
                                    <td>
                                        <p>
                                            <span style="font-family:&#39;微软雅黑&#39;,sans-serif;color:#776A38">在北邮CDIO工程教育改革实践课程中，和队友进行创新研发。完成产品概念设计、技术研发、团队协调等工作，最终团队获得较高评价。过程中增加了我对产品的创新及研发能力，有了基本的担任项目Leader的经验。</span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <include file="Public:right" />
        </div>
    </div>
    <include file="Public:footer" />
</body>

</html>
