<head>		
	<title>蒋立军的博客</title>
	<meta property="qc:admins" content="020436547764116211647676375636" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="__PUBLIC__/Home/css/pintuer.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/my.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/page_css.css">	
	<link rel="stylesheet" href="__PUBLIC__/Home/css/gotop.css" />
	<script src="__PUBLIC__/Home/js/jquery.js"></script>
	<script src="__PUBLIC__/Home/js/pintuer.js"></script>
	<script src="__PUBLIC__/Home/js/respond.js"></script>
	<script src="__PUBLIC__/Home/layer/layer.js"></script>
	<script src="__PUBLIC__/Home/js/gotop.js" ></script>

</head>